doctype html
html
    head
        title= title
    body
        div
            nav
                a(href="/").title
                    h3 AnonPosting
            if (!user)
                ul
                    a(href="/log-in")
                        li Log in
                    a(href="/sign-up")
                        li Sign up
            else
                ul
                    a(href="/create-message")
                        li Create message
                    a(href="/member")
                        li Membership
                    a(href="/admin")
                        li Admin
                    a(href="/log-out")
                        li Log out
            if (user)
                p User #{user.username}
    block content