extends layout

block content
    form(action="/log-in" method="POST")
        h1=title
        div
            label(for="username") Username:
            input(name="username" type="text" required="true" maxLength="20")
            if (error)
                p #{error}
        div
            label(for="password") Password:
            input(name="password" type="password" required="true")
            if (error)
                p #{error}
        button(type="submit") Log in
