extends layout

block content

    if (!user.member)
        form(action="/member" method="POST")
            h2= title
            div
                label(for="passcode") Enter passcode to gain membership status!
                input(name="passcode" type="password" required="true")
                if (passcodeError)
                    p #{passcodeError}
            button(type="submit") Submit passcode

        if (errors)
            p #{errors}
    else
        div
            h1 Amazing! You are a member!