extends layout

block content
    div(class="d-flex flex-column p-2 justify-content-center align-items-center mt-5")
        form(action="/create-message" method="POST")
            h2= title
            div
                label(for="messageTitle" class="form-label") Title:
                input(name="messageTitle" required="true" type="text" maxLength="30" class="form-control")
            div
                label(for="messageText" class="form-label") Message:
                textarea(name="messageText" required="true" type="text" rows="5" maxLength="1000" class="form-control")
            br
            button(type="submit" class="btn btn-primary") Submit message
        if (errors)
            p #{errors}